<p><strong>New York Young Men Sing</strong> is an annual event hosted by the Cornell University Glee Club, the men’s choir at Cornell. Knowing that it can sometimes be difficult to be a male singer in high school, we host this event to encourage male students to continue singing not only through high school, but throughout their collegiate and adult lives. The students will arrive at Cornell University in the morning and spend the beginning of the day rehearsing with the Glee Club. After lunch, the students will be taught a song by The Hangovers, the a cappella subset of the Glee Club and then rehearse more with the full Glee Club. The afternoon will culminate with a concert in Sage Chapel showcasing the repertoire learned that day. Registration costs $30. If there are financial concerns, please contact us as scholarships are available.</p>

<p>If you have any questions, please contact Nick Ringelberg '16, NYYMS Coordinator, at nyyms@gleeclub.cornell.edu</p>

<p>Register your students below for NYYMS 2014:<br />(Or, you can <%= link_to "register as an independent attendee", independent_registration_path %>)</p>

<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <table id="student_info">
    <thead>
      <tr>
        <th>Student's Name</th>
        <th>Voice Part</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input name="registration[students_names][]" type="text" value=""></td>
        <td>
          <select name="registration[students_voice_parts][]">
            <option value="">Please select</option>
            <option value="Tenor 1">Tenor 1</option>
            <option value="Tenor 2">Tenor 2</option>
            <option value="Baritone">Baritone</option>
            <option value="Bass">Bass</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="button" id="add_new_student" class="btn" value="Add Another Student">
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :school_address %><br />
    <%= f.text_area :school_address %>
  </div>
  <div class="field">
    <p>
      The fee for NYYMS is $30.00 per student in order to cover the cost of music and lunch. Check one of the boxes below to mark how you intend to pay your costs.<br/>
      <span style="color: grey">Cornell University Glee Club/Day Hall Mail Room/Ithaca, NY 14853</span><br/>
      <%= f.radio_button :payment_plan, "teacher_mailing_check" %> I will be mailing a check made out to the Cornell University Glee Club<br/>
      <%= f.radio_button :payment_plan, "students_pay_individually" %> My students will each send their own checks
    </p>
  </div>
  <div class="actions">
    <%= f.submit "Register", :class => "btn btn-success btn-large btn-block" %>
  </div>
<% end %>
