<h1>Listing nyyms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>School</th>
    <th>Teacher name</th>
    <th>Teacher email</th>
    <th>Voice part</th>
    <th>Phone number</th>
    <th>Has paid</th>
    <th>Payment received on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nyyms.each do |nyym| %>
  <tr>
    <td><%= nyym.name %></td>
    <td><%= nyym.email %></td>
    <td><%= nyym.age %></td>
    <td><%= nyym.school %></td>
    <td><%= nyym.teacher_name %></td>
    <td><%= nyym.teacher_email %></td>
    <td><%= nyym.voice_part %></td>
    <td><%= nyym.phone_number %></td>
    <td><%= nyym.has_paid %></td>
    <td><%= nyym.payment_received_on %></td>
    <td><%= link_to 'Show', nyym %></td>
    <td><%= link_to 'Edit', edit_nyym_path(nyym) %></td>
    <td><%= link_to 'Destroy', nyym, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nyym', new_nyym_path %>
