<h3>MP3s &amp; MIDIs</h3>

<p>
  <strong>5 Mystical Songs</strong>
  <ul>
    <li><%= link_to "All Parts", audio_path("5_mystical_songs/5 Mystical Songs - Antiphon.mid") %></li>
    <li><%= link_to "Soprano", audio_path("5_mystical_songs/5 Mystical Songs - Antiphon (S).mid") %></li>
    <li><%= link_to "Alto", audio_path("5_mystical_songs/5 Mystical Songs - Antiphon (A).mid") %></li>
    <li><%= link_to "Tenor", audio_path("5_mystical_songs/5 Mystical Songs - Antiphon (T).mid") %></li>
    <li><%= link_to "Bass", audio_path("5_mystical_songs/5 Mystical Songs - Antiphon (B).mid") %></li>
  </ul>
</p>

<p>
  <strong>Gazapkhuli</strong>
  <ul>
    <li><%= link_to "Tutti", audio_path("gazapkhuli/Gazapkhuli - Tutti.mp3") %></li>
    <li><%= link_to "Tenor", audio_path("gazapkhuli/Gazapkhuli - Tenor.mp3") %></li>
    <li><%= link_to "Baritone", audio_path("gazapkhuli/Gazapkhuli - Baritone.mp3") %></li>
    <li><%= link_to "Bass", audio_path("gazapkhuli/Gazapkhuli - Bass.mp3") %></li>
  </ul>
</p>

<p>
  <strong>All Through the Night</strong>
  <ul>
    <li><%= link_to "All Parts", audio_path("all_through_the_night/ALL THROUGH THE NIGHT.mid") %></li>
    <li><%= link_to "Tenor 1", audio_path("all_through_the_night/ALL THROUGH THE NIGHT T1.mid") %></li>
    <li><%= link_to "Tenor 2", audio_path("all_through_the_night/ALL THROUGH THE NIGHT T2.mid") %></li>
    <li><%= link_to "Baritone", audio_path("all_through_the_night/ALL THROUGH THE NIGHT B1.mid") %></li>
    <li><%= link_to "Bass", audio_path("all_through_the_night/ALL THROUGH THE NIGHT B2.mid") %></li>
  </ul>
</p>

<p>
  <strong>La Banda</strong>
  <ul>
    <li><%= link_to "All Parts", audio_path("la_banda/La Banda.mid") %></li>
    <li><%= link_to "Tenor 1", audio_path("la_banda/La Banda - Tenor 1.mid") %></li>
    <li><%= link_to "Tenor 2", audio_path("la_banda/La Banda - Tenor 2.mid") %></li>
    <li><%= link_to "Baritone", audio_path("la_banda/La Banda - Bass 1.mid") %></li>
    <li><%= link_to "Bass", audio_path("la_banda/La Banda - Bass 2.mid") %></li>
  </ul>
</p>

<p>
  <strong>Lowlands</strong>
  <ul>
    <li><%= link_to "All Parts", audio_path("lowlands/Lowlands.mid") %></li>
    <li><%= link_to "Tenor 1", audio_path("lowlands/Lowlands - Tenor 1.mid") %></li>
    <li><%= link_to "Tenor 2", audio_path("lowlands/Lowlands - Tenor 2.mid") %></li>
    <li><%= link_to "Baritone", audio_path("lowlands/Lowlands - Bass 1.mid") %></li>
    <li><%= link_to "Bass", audio_path("lowlands/Lowlands - Bass 2.mid") %></li>
  </ul>
</p>

<p>
  <strong>Sicut Cervus</strong>
  <ul>
    <li><%= link_to "All Parts", audio_path("sicut_cervus/SicutCervus_AllParts.mid") %></li>
    <li><%= link_to "Tenor 1", audio_path("sicut_cervus/SicutCervus_Tenor1.mid") %></li>
    <li><%= link_to "Tenor 2", audio_path("sicut_cervus/SicutCervus_Tenor2.mid") %></li>
    <li><%= link_to "Baritone", audio_path("sicut_cervus/SicutCervus_Baritone.mid") %></li>
    <li><%= link_to "Bass", audio_path("sicut_cervus/SicutCervus_Bass.mid") %></li>
  </ul>
</p>