<p><strong>New York Young Men Sing</strong> is an annual event hosted by the Cornell University Glee Club, the men’s choir at Cornell. Knowing that it can sometimes be difficult to be a male singer in high school, we host this event to encourage male students to continue singing not only through high school but throughout their collegiate and adult lives. Students will arrive at Cornell University in the morning and rehearse with the Glee Club. After lunch, the students will be taught a song by The Hangovers, the a cappella subset of the Glee Club. After more rehearsal, there will be a concert in Sage Chapel featuring the Cornell University Glee Club, the Young Men’s Chorus of Ithaca, and then the Glee Club with the students participating in New York Young Men Sing.</p>

<p>(Or, you can use our <%= link_to "Bulk Registration", register_path %> form)</p>

<%= form_for(@nyym) do |f| %>
  <% if @nyym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nyym.errors.count, "error") %> prohibited this nyym from being saved:</h2>

      <ul>
      <% @nyym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :voice_part, "Voice Part" %><br />
    <%= f.select :voice_part, Hash[Nyym.voice_parts.zip(Nyym.voice_parts)], :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, :placeholder => "Optional" %>
  </div>
  <div class="field">
    <%= f.label :school_address, "Your Mailing Address" %><br />
    <%= f.text_area :school_address %>
  </div>
  <div class="field">
    <p>
      The fee for NYYMS is $30.00 in order to cover the cost of music and lunch. Check one of the boxes below to mark how you intend to pay your costs.<br/>
      <span style="color: grey">Cornell University Glee Club/Day Hall Mail Room/Ithaca, NY 14853</span><br/>
      <%= f.radio_button :payment_plan, "mailing_check_for_30" %> I will be mailing a check made out to the Cornell University Glee Club for $30.00<br/>
      <%= f.radio_button :payment_plan, "school_pays" %> My school/organization will be covering my costs.
    </p>
  </div>
  <div class="actions">
    <%= f.submit "Register", :class => "btn btn-success btn-large btn-block" %>
  </div>
<% end %>
