<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nyym.name %>
</p>

<p>
  <b>Email:</b>
  <%= @nyym.email %>
</p>

<p>
  <b>Age:</b>
  <%= @nyym.age %>
</p>

<p>
  <b>School:</b>
  <%= @nyym.school %>
</p>

<p>
  <b>Teacher name:</b>
  <%= @nyym.teacher_name %>
</p>

<p>
  <b>Teacher email:</b>
  <%= @nyym.teacher_email %>
</p>

<p>
  <b>Voice part:</b>
  <%= @nyym.voice_part %>
</p>

<p>
  <b>Phone number:</b>
  <%= @nyym.phone_number %>
</p>

<p>
  <b>Has paid:</b>
  <%= @nyym.has_paid %>
</p>

<p>
  <b>Payment received on:</b>
  <%= @nyym.payment_received_on %>
</p>


<%= link_to 'Edit', edit_nyym_path(@nyym) %> |
<%= link_to 'Back', nyyms_path %>
